header{
    width: 960px;
    height: 100px;
    background-color: #F00;
    padding: 10px;
    color: #ffffff;
}
.logo{
    float: left;
    padding-left: 162px;
}
.heard{
    position: fixed;
    text-align: center;
}
.heard h1{
    font-family: tahoma;
    size: 24px;
    color: white;
}
